[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
python-dotenv = "*"
notebook = "*"
pandas = "*"
numpy = "*"
json = "*"
string = "*"
datetime = "*"
os = "*"

[dev-packages]

[requires]
python_version = "3.9"